@using WebBookStore.Models.WebBookStore
@*@model WebBookStore.Areas.Admin.Models.SearchOrder.SearchOrder*@ 
@model DONHANG
@{
     ViewBag.Title = "Index";
     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Đơn Hàng</h2>

<form action="~/Admin/Order/Filter" method="get" class="form-inline" onsubmit="return checkvar()">
     <div class="form-group">
          <select asp-for="Status" class="form-control" name="Status">
               @{

                    if (ViewBag.Status == "-1")
                    {
                         <option value="-1" selected="selected">Đơn hàng đã xóa</option>
                    }
                    else
                    {
                         <option value="-1">Đơn hàng đã xóa</option>
                    }
                    if (ViewBag.Status == "0")
                    {
                         <option value="0" selected="selected">Đơn hàng chờ xác nhận</option>
                    }
                    else
                    {
                         <option value="0">Đơn hàng chờ xác nhận</option>
                    }
                    if (ViewBag.Status == "1")
                    {
                         <option value="1" selected="selected">Đơn hàng đã thanh toán</option>
                    }
                    else
                    {
                         <option value="1">Đơn hàng đã thanh toán</option>
                    }

                    @*< option value = "-1" > Đơn hàng đã xóa </ option >

               < option value = "0" > Đơn hàng chờ xác nhận</ option >

               < option value = "1" > Đơn hàng đã thanh toán</ option >*@
               }

          </select>

     </div>
     <button style="box-shadow: none;" type="submit" class="btn btn-primary btn-large" name=""><i class="fa fa-search"></i> Tìm kiếm</button>
     <div class="form-group">
          <input type="text" class="form-control datepk" name="DateStart" placeholder="Từ ngày">
     </div>
     -
     <div class="form-group">
          <input type="text" class="form-control datepk" name="DateEnd" placeholder="Đến ngày">
     </div>
</form>

<table class="table table-hover" id="domainTable">
     <thead>
          <tr>
               <th>
                    <input type="checkbox" id="check-all-header" />
               </th>
               <th>Mã vận đơn</th>
               <th>Khách hàng</th>
               <th>Ngày đặt hàng</th>
               <th>Tình trạng</th>
               <th>Hành động</th>
          </tr>
     </thead>
     <tbody>
          @foreach (DONHANG item in ViewBag.Orders)
          {
               <tr>
                    <td>
                         <input type="checkbox" name="ids" value="@item.ID" />
                    </td>
                    <td>@item.MaVanDon</td>
                    <td>@item.NGUOIDUNG.HoVaTen</td>
                    <td>@item.NgayDatHang</td>
                    <td>@item.TinhTrang</td>
                    <td>
                         <a href="~/Admin/Order/Detail/@item.ID"><i class="fa fa-eye"></i></a>
                         &nbsp;&nbsp;&nbsp;
                         <a href="~/Admin/Order/Delete/@item.ID"><i class="fa fa-trash"></i></a>
                    </td>
               </tr>
          }
     </tbody>
</table>

@section scripts{
     <script src="~/Scripts/LoadDataTable.js"></script>
     <script type="text/javascript">
          $(function () {
               $('.datepk').datepicker({
                    format: 'yyyy/mm/dd',
               });

          });
     </script>
     <script>
          $(document).ready(function () {
               $("#check-all-header").click(function () {
                    var checkedStatus = this.checked;
                    $('#domainTable tbody tr').find('td:first :checkbox').each(function () {
                         $(this).prop('checked', checkedStatus);
                    });
               });
          });
          function checkvar() {
               console.log($("[name='DateStart']").val());
               if ($("[name='DateStart']").val() != '' && $("[name='DateEnd']").val() != '') {
                    if ($("[name='DateStart']").val() > $("[name='DateEnd']").val()) {
                         alert("Chọn ngày không hợp lệ");
                         return false;
                    }
               }
               return true;
          }
     </script>

}

