@using WebBookStore.Models.WebBookStore
@model WebBookStore.Models.WebBookStore.SANPHAM
@{ ViewBag.Title = "Detail";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-12 product">
        <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
            <img class="img-responsive" alt="" src="~/Assets/images/@Model.Anh" id="@Model.ID">
        </div>

        <div class="col-sm-6 col-md-7 product-info-block">
            <div class="single-product">
                <div class="product-info">
                    <h1 class="name">@Model.TenSanPham</h1>

                    <div class="rating-reviews m-t-20">
                        <div class="row">
                            <div class="col-sm-3 hidden">
                                <div class="rating rateit-small rateit">
                                    <button id="rateit-reset-5" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-5" style=""></button>
                                    <div id="rateit-range-5" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-5" aria-valuemin="0" aria-valuemax="5" aria-valuenow="0" aria-readonly="false" style="width: 80px; height: 16px;">
                                        <div class="rateit-selected" style="height: 16px; width: 0px; display: block;"></div>
                                        <div class="rateit-hover" style="height: 16px; width: 0px; display: none;"></div>
                                    </div><button id="rateit-reset-5" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-5"></button><div id="rateit-range-5" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-5" aria-valuemin="0" aria-valuemax="5" aria-valuenow="0" aria-readonly="false" style="width: 80px; height: 16px;"><div class="rateit-selected" style="height: 16px; width: 0px; display: block;"></div><div class="rateit-hover" style="height: 16px; width: 0px; display: none;"></div></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="reviews">
                                    <a href="#" class="lnk">(@Model.LuotXem Lượt xem)</a>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.rating-reviews -->

                    <div class="stock-container info-container m-t-10">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="stock-box">
                                    <span class="label">Tình trạng</span>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="stock-box">
                                    @if (@Model.TinhTrang == true)
                                    {
                        <span class="text-bold">Còn hàng</span> }
                                    else
                                    {
                        <span class="text-danger">Hết hàng</span>}
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.stock-container -->

                    <div class="description-container m-t-20">
                        @Model.MoTa
                    </div><!-- /.description-container -->

                    <div class="price-container info-container m-t-20">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-box">
                                    <span class="price numeral-init">@((double)ViewBag.GiaKM)</span>
                                    @if ((double)ViewBag.GiaKM != Model.GiaSanPham)
                                    {
                        <span class="price-strike numeral-init">@Model.GiaSanPham</span>}
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.price-container -->

                    <div class="quantity-container info-container">
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="label">Số lượng :</span>
                            </div>
                            <div class="col-sm-2">
                                <div class="cart-quantity">
                                    <div class="quant-input">
                                        <div class="arrows">
                                            <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                                            <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
                                        </div>

                                        <input type="text" value="1" name="soluong" id="soluong">

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div class="add-to-cart">
                                    <h4><a class="btn btn-warning" href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏ</a></h4>
                                </div>
                            </div>


                        </div><!-- /.row -->
                    </div><!-- /.quantity-container -->

                    <div class="product-social-link m-t-20 text-right">
                        <span class="social-label">Chia sẻ :</span>
                        <div class="social-icons">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-rss" href="#"></a></li>
                                <li><a class="fa fa-pinterest" href="#"></a></li>
                            </ul><!-- /.social-icons -->
                        </div>
                    </div>




                </div><!-- /.product-info -->
            </div> <!--Single Product-->
        </div>

        <div class="single-product outer-bottom-sm">


            <div class="product-tabs inner-bottom-xs">
                <div class="row">
                    <div class="col-sm-3">
                        <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                            <li class="active"><a data-toggle="tab" href="#description">MÔ TẢ</a></li>
                            <li class="hidden"><a data-toggle="tab" href="#review">REVIEW</a></li>
                            <li class="hidden"><a data-toggle="tab" href="#tags">TAGS</a></li>
                        </ul><!-- /.nav-tabs #product-tabs -->
                    </div>
                    <div class="col-sm-9">

                        <div class="tab-content">

                            <div id="description" class="tab-pane in active">
                                <div class="product-tab">
                                    <p class="text">
                                        @Model.MoTa
                                    </p>
                                </div>
                            </div><!-- /.tab-pane -->

                        </div><!-- /.tab-content -->

                    </div><!-- /.col -->
                </div>

            </div>


            <div class="product-tabs inner-bottom-xs">
                <h3 class="section-title"> Đánh giá</h3>

                @foreach (DANHGIA item in ViewBag.DanhGia)
                {
            <div class="row">
                <div class="col-sm-3">
                    <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                        <li class="alert-success"><a href="#description">@item.NGUOIDUNG.HoVaTen</a></li>
                    </ul><!-- /.nav-tabs #product-tabs -->
                </div>
                <div class="col-sm-9">

                    <div class="tab-content">

                        <div id="description" class="tab-pane in active">
                            <div class="product-tab">
                                <p class="text">
                                    Số sao: @item.SoSao/5
                                </p>
                            </div>
                            <div class="product-tab">
                                <p class="text">
                                    @item.BinhLuan
                                </p>
                            </div>
                        </div><!-- /.tab-pane -->

                    </div><!-- /.tab-content -->

                </div><!-- /.col -->
            </div>}




            </div>


        </div>
    </div>
    <div class="row">

        <section class="section featured-product wow fadeInUp">
            <h3 class="section-title"> SẢN PHẨM ĐÃ XEM</h3>

            @foreach (SANPHAM m in ViewBag.DaXem)
            {

<div class="col-sm-3 col-xs-6 products" style="float: left;width:200px;height:250px">

    <div class="product">
        <div class="product-image">
            <div class="image">
                <a href="~/Product/Detail/@m.ID"><img src="~/Assets/images/@m.Anh" alt="" style="height:70px" class="img-responsive" id="@m.ID"></a>


                @*<img src="~/assets/images/products/3.jpg" />*@
            </div><!-- /.image -->

            <div class="tag sale"><span>sale</span></div>
        </div><!-- /.product-image -->


        <div class="product-info text-left">
            <h3 class="name">
                <a href="~/Product/Detail/@m.ID"> @m.TenSanPham;  </a>

            </h3>

            <div class="rating rateit-small"></div>
            <div class="description"></div>

            <div class="product-price">
                <span class="price">
                    @Html.FormatValue(m.GiaSanPham * (1 - m.KhuyenMai), "{0:N}")

                </span>
                <span class="price-before-discount"> @Html.FormatValue(m.GiaSanPham, "{0:N}") </span>

            </div><!-- /.product-price -->

        </div><!-- /.product-info -->
        <div class="add-to-cart">
            <h4><a class="btn btn-warning" href="/them-gio-hang?productId=@m.ID&quantity=1">Thêm vào giỏ</a></h4>
        </div>
    </div><!-- /.product -->

</div><!-- /.products -->}










        </section><!-- /.section -->
    </div>
